; -*- mode: clojure; -*-
; vim: filetype=clojure

(require '[riemann-ack.core :as ack])

; Listen on the local interface over TCP (5555), UDP (5555), and websockets
; (5556)
(let [host "0.0.0.0"]
  (tcp-server :host host)
  (udp-server :host host)
  (ws-server  :host host)
)

(def redis 'riemann.ojointernal.com')

; Expire old events from the index every 5 seconds.
(periodically-expire 5)

; Keep events in the index for 1 minute by default.
; (let [index (default :ttl 300 (update-index (index)))]

  ; Inbound events will be passed to these streams:
  (streams
        ; Index all events immediately.
        ; index
        (where ( not (service #"riemann.*"))
          (ack/alert-stream
            (where (not (tagged "acked"))
            #(info %)
            )
          )
        )
  )
; )
